@import '../../styles/colors';

.main {
  display: flex;
}

.board {
  position: relative;
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  padding: 10vw 6vw;
  background-color: $black-5;
}

.menu {
  position: absolute;
  display: none;
  cursor: pointer;
  top: 24px;
  right: 24px;
}

.question {
  max-width: 600px;
  font-size: 32px;
  font-weight: 600;
  line-height: 116%;
}

.options {
  display: flex;
  flex-wrap: wrap;
}

.side {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
  height: 100dvh;
  background-color: $white-100;
}

@media (max-width: 800px) {
  .board {
    align-items: center;
    justify-content: space-around;
    padding: 10vw 0;
  }

  .question {
    max-width: 90vw;
    font-size: 6vw;
    text-align: center;
  }

  .options {
    justify-content: center;
  }

  .menu {
    display: block;
  }

  .side {
    position: absolute;
    z-index: 2;
    width: 100vw;
    transition: 0.5s all ease-in-out;
    transform: translateY(-100%);

    &.open {
      transform: translateY(0);
    }
  }
}
