@import '../../styles/colors';

.main {
  display: flex;
}

.board {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 130px 80px;
  background-color: $black-5;
}

.question {
  max-width: 600px;
  font-size: 32px;
  font-weight: 600;
  line-height: 116%;
}

.options {
  display: flex;
  flex-wrap: wrap;
}

.side {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
  height: 100vh;
  background-color: $white-100;
}
