@import '../../../../styles/colors';

.gain {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 320px;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 40px;
  margin: 4px 18px;
  font-size: 20px;
  font-weight: 400;
  line-height: 116%;
  border: 1px solid $black-40;
  border-radius: 3px;
  border-left: none;
  border-right: none;

  &.passed {
    color: $black-40;
  }

  &.current {
    color: $orange-100;
    border-color: $orange-100;

    &::before,
    &::after {
      border-color: $orange-100;
    }
  }

  &.upcoming {
    color: $black-100;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    rotate: 45deg;
    width: 28px;
    height: 28px;
    border-top-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    border: 1px solid $black-40;
  }

  &::before {
    left: -12.5px;
    border-top: none;
    border-right: none;
  }

  &::after {
    right: -12.5px;
    border-bottom: none;
    border-left: none;
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: $black-40;

  &.current {
    background-color: $orange-100;
  }
}
