@import '../styles/colors';

.main {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, $white-100 50%, $orange-5 50%);
}

.hand {
  flex: 1;
  width: auto;
  height: auto;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 258px;
  padding-right: 32px;
}

.headline {
  font-size: 56px;
  font-weight: 600;
  line-height: 116%;
}
