@import '../../styles/colors';

.main {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: $black-5;
}

.hand {
  flex: 1;
  width: auto;
  height: auto;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 258px;
}

.subheader {
  font-size: 32px;
  font-weight: 600;
  line-height: 116%;
  color: $black-100;
  opacity: 50%;
}

.headline {
  font-size: 56px;
  font-weight: 600;
  line-height: 116%;
  color: $black-100;
}
